<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/footer/footer.css" />

<footer class="full-width">
  <div class="footer__brand-image">
    <img src="/assets/images/logo.svg" alt="Brand Image" loading="lazy" />
  </div>
  <div class="footer__links-container">
    <% footerData.footerLinks.forEach(footerLink => { %>
    <a class="footer__link" href="<%= footerLink.link %>"
      ><%= footerLink.text %></a
    >
    <% }); %>
  </div>
  <div class="footer__info-container">
    <div class="footer__info">
      <% footerData.footerInfos.forEach(footerInfo => { %>
      <address>
        <p>
          <img
            src="<%= footerInfo.src %>.svg"
            alt="<%= footerInfo.alt %> Image"
            loading="lazy"
          />
          <a href="<%= footerInfo.link %>" target="_blank"
            ><%- footerInfo.text %></a
          >
        </p>
      </address>
      <% }); %>
    </div>
    <div class="footer__media-links">
      <% footerData.mediaLinks.forEach(mediaLink => { %>
      <a href="<%= mediaLink.link %>" target="_blank">
        <svg
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          aria-label="<%= mediaLink.name %>"
          viewBox="<%= mediaLink.viewBox %>"
        >
          <path d="<%= mediaLink.svgPath %>"></path>
        </svg>
      </a>
      <% }); %>
    </div>
  </div>
  <div class="newsletter-container">
    <h3 class="newsletter__title">Sign up to our <span>Newsletters</span></h3>

    <div id="spinner-overlay" style="z-index: 9999">
      <div
        class="spinner-border spinner newsletter-spinner text-white spinner-border-md"
        style="margin: 0.5rem 0 1rem 0"
        role="status"
      ></div>
    </div>

    <form class="newsletter__form">
      <div class="input-group">
        <label for="newsletter-email" class="seo-only"
          >Subscribe to our newsletter</label
        >
        <input
          class="form__input form-control"
          type="email"
          placeholder="Subscribe to our Newsletters"
          id="newsletter-email"
          required
        />
        <span class="input-group-text" id="addon-wrapping"
          ><button class="form__tele-icon">
            <svg
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              aria-label="Telegram Icon"
              width="23.568"
              height="23.568"
              viewBox="0 0 23.568 23.565"
            >
              <path
                id="Icon_ionic-ios-send"
                data-name="Icon ionic-ios-send"
                d="M21.386.049.274,9.251a.484.484,0,0,0,.017.88L6,13.357a.921.921,0,0,0,1.052-.1l11.26-9.707c.075-.063.253-.184.322-.115s-.04.247-.1.322L8.791,14.725a.918.918,0,0,0-.092,1.1l3.732,5.987a.486.486,0,0,0,.874-.011L22.036.688A.484.484,0,0,0,21.386.049Z"
                transform="matrix(0.998, 0.07, -0.07, 0.998, 1.54, 0)"
              ></path>
            </svg></button
        ></span>
      </div>
    </form>
  </div>
  <div class="footer__row">
    <div class="footer__payment-methods">
      <% footerData.paymentMethods.forEach(paymentMethod => { %>
      <img
        src="<%= paymentMethod.src %>.svg"
        alt="We Accept <%= paymentMethod.alt %> Payment"
        class="payment-method"
        loading="lazy"
      />
      <% }); %>
    </div>
    <div class="watermark">
      &copy; <%= new Date().getFullYear() %> Creative Squad | All rights
      reserved
    </div>
  </div>
</footer>

<!-- JS -->
<script src="/javascript/footer/newsletter.js"></script>
