<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/navbar/navbar.css" />

<!-- Font -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
/>

<header class="header">
  <nav class="nav">
    <div class="nav__brand">
      <a href="/">
        <img
          src="https://www.creativesquad.ca/images/logo.svg"
          loading="lazy"
          alt="Brand Logo"
        />
      </a>
    </div>
    <div class="nav__links">
      <% navbarData.desktopNavLinks.forEach(desktopNavLink => { %>
      <a
        class="nav__link <%= currentRoute === desktopNavLink.link ? 'activeLink' : '' %>"
        href="<%= desktopNavLink.link %>"
      >
        <%= desktopNavLink.text %>
      </a>
      <% }); %>
    </div>
    <div class="nav__btns">
      <a class="btn" href="/testimonials">Testimonials</a>
      <a class="btn" href="/contact">Get Started</a>
    </div>
    <button class="nav__hamburger">
      <img src="/assets/images/hamburger.svg" loading="lazy" alt="Hamburger" />
    </button>
  </nav>
  <aside class="sidebar__mobile">
    <div class="sidebar__mobile-links">
      <% navbarData.mobileNavLinks.forEach(mobileNavLink => { %>
      <a
        class="nav__link <%= currentRoute === mobileNavLink.link ? 'activeLink' : '' %>"
        href="<%= mobileNavLink.link %>"
      >
        <%= mobileNavLink.text %>
      </a>
      <% }); %>
    </div>
    <div class="sidebar__mobile-btns">
      <a class="btn" href="/testimonials">Testimonials</a>
      <a class="btn" href="/contact">Talk To An Expert</a>
    </div>
  </aside>
</header>

<!-- JS -->
<script src="/javascript/navbar/hamburger.js"></script>
