<%- layout(`boilerplate/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/blogs/post.css" />

<div class="blog-container">
  <header class="blog__header">
    <div class="col">
      <h1><span><%= firstWord %></span> <%= rest %></h1>
    </div>
  </header>

  <div class="blog__main-image">
    <img src="<%= blog.src %>" alt="<%= blog.alt %>" loading="lazy" />
  </div>

  <main class="blog__main">
    <p><%- post.intro %></p>

    <% blog.post.sections.forEach(section => { %>
    <h3><%= section.title %></h3>

    <% if (section.type === "text") { %>
    <p><%- section.content %></p>
    <% } %> <% if (section.type === "list") { %> <% if (section.intro) { %>
    <p><%- section.intro %></p>
    <% } %>

    <ul>
      <% section.items.forEach(item => { %>
      <li>
        <% if (item.emphasis) { %>
        <strong><%= item.emphasis %></strong>
        <% } %> <% if (item.text) { %> <%= item.text %> <% } else if
        (item.description) { %> <%= item.description %> <% } %>
      </li>
      <% }) %>
    </ul>
    <% } %> <% }) %>
    <br />
    <p id="date-published">
      Published On: <span id="date"><%= blog.date %></span>
    </p>
  </main>

  <hr id="seperator" />

  <div class="blog__footer">
    <h2>Top 6 <span>Popular</span> Blogs</h2>
    <div class="top-blogs">
      <% topBlogs.forEach(topBlog => { %>
      <div class="top-blog">
        <a href="/blogs/<%= topBlog.slug %>">
          <div class="top-blog__main-image">
            <img
              src="<%= topBlog.src %>"
              alt="<%= topBlog.alt %>"
              loading="lazy"
            />
          </div>
          <div class="top-blog__content">
            <h3><%= topBlog.title %></h3>
            <hr />
            <div class="top-blog__footer">
              <p>Published By: Creative Squad</p>
              <span><%= topBlog.shortDate %></span>
            </div>
          </div>
        </a>
      </div>
      <% }); %>
    </div>
  </div>
</div>
