<%- layout(`boilerplate/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/landing-page/landing-page.css" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<div class="landing-page-container">
  <section class="full-width section-1">
    <div class="hero">
      <video
        class="hero__video"
        src="https://crativesquad-blog-thumbnail.s3.ca-central-1.amazonaws.com/1722700626770-video.mp4"
        autoplay
        loop
        muted
        playsinline
      ></video>
      <header class="hero__content">
        <h1 class="hero__title">
          <span>Elevating</span> <br />
          Businesses Digitally
        </h1>
        <h3 class="hero__subtitle">
          Your trusted partner for <span>Digital Media Solutions</span>
        </h3>
      </header>
      <div class="hero__swiper swiper">
        <div class="swiper-wrapper">
          <% badges.forEach(badge => { %>
          <div class="swiper-slide">
            <a href="<%= badge.link %>">
              <img
                class="swiper__image"
                src="<%= badge.src %>"
                alt="<%= badge.alt %> Badge"
              />
            </a>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </section>
  <section class="full-width section-2">
    <div class="providing-results-container">
      <header>
        <h2 class="title">
          How we provide
          <br />
          <span>results</span>
        </h2>
        <p class="description">
          We don't just talk strategy – we deliver real results, proven by the
          success stories of our amazing clients. We take pride in building
          long-term partnerships and tailoring our strategies to each client's
          unique goals. We understand the unique needs and landscape of the
          Canadian market, giving you a strategic edge.
        </p>
      </header>

      <!-- Results Cards -->
      <div class="results-cards">
        <% results.forEach(result => { %>
        <article class="card">
          <div class="card__image">
            <img
              src="<%= result.image %>"
              alt="<%= result.alt %>"
              loading="lazy"
            />
          </div>
          <div class="card__content">
            <h3><%= result.title %></h3>
            <p><%= result.description %></p>
          </div>
        </article>
        <% }) %>
      </div>
    </div>

    <!-- Testimonials -->
    <div class="testimonials-cards-container">
      <% testimonials.forEach(testimonial => { %>
      <div class="card">
        <div class="card__video">
          <iframe
            width="100%"
            height="700"
            src="<%= testimonial.video %>"
            title="<%= testimonial.title %> Testimonial"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            loading="lazy"
            allowfullscreen
          ></iframe>
        </div>
        <div class="card__content">
          <div class="card__stars">
            <img
              src="https://www.creativesquad.ca/images/icons/testimonialreviews.svg"
              alt="5 Star Image"
              loading="lazy"
            />
          </div>
          <h3 class="card__title"><%= testimonial.title %></h3>
          <p class="card__description"><%= testimonial.description %></p>
          <a href="#" class="card__link">
            View Case Study
            <span>
              <svg
                width="20"
                height="15"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                ></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
  <section class="full-width section-3">
    <div class="about-company-container">
      <header>
        <h3 class="about-company__title">
          Diverse portfolio of <br />
          <span>thriving B2B & B2C businesses</span>
        </h3>
        <p class="about-company__description">
          Over the years, Creative Squad has had the privilege of partnering
          with diverse industries. We have left our mark on numerous sectors,
          from e-commerce giants to healthcare providers, hospitals to
          educational institutions.
        </p>
        <div class="about-company__lists">
          <% aboutCompanyLists.forEach(item => { %>
          <ul class="about-company__list">
            <% item.aboutCompanyList.forEach(list => { %>
            <li class="about-company__list-item">
              <span class="list-item__image">
                <img
                  src="<%= list.src %>.png"
                  alt="<%= list.alt %> Image"
                  loading="lazy"
                />
              </span>
              <%= list.text %>
            </li>
            <% }); %>
          </ul>
          <% }) %>
        </div>
      </header>
      <div class="about-company__main-image">
        <img
          src="/assets/images/portfolio-main-image.webp"
          alt="About Company Main Image"
          loading="lazy"
        />
      </div>
    </div>
  </section>
  <section class="full-width section-4">
    <div class="brand-growing-container">
      <header>
        <h3 class="brand-growing__title">
          Customized Digital Media <br />
          <span>Solutions for your business goals</span>
        </h3>
        <div class="brand-growing__btns">
          <% brandGrowing.forEach(card => { %>
          <button class="brand-growing__btn" data-card="<%= card.id %>">
            <%- card.button %>
          </button>
          <% }) %>
        </div>
      </header>

      <div class="brand-growing__cards">
        <% brandGrowing.forEach(card => { %>
        <div class="brand-growing__card" id="<%= card.id %>">
          <div class="card__main-image">
            <img src="<%= card.image %>" alt="<%= card.alt %>" loading="lazy" />
          </div>
          <div class="card__content-container">
            <% card.features.forEach(feature => { %>
            <div class="card__content">
              <h4>
                <span>
                  <img
                    src="/assets/images/list-item.svg"
                    alt="Checklist Image"
                    loading="lazy"
                  />
                </span>
                <%= feature.heading %>
              </h4>
              <p><%= feature.description %></p>
            </div>
            <% }) %>
            <a class="card__button btn-invert" href="<%= card.link %>">
              Read More
            </a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>

  <section class="full-width section-5">
    <div class="services-container">
      <header>
        <h3 class="services__header">
          Integrated, Progressive, Sales & <br />
          <span>Digital Media Solutions</span>
        </h3>
      </header>

      <div class="services-cards-container">
        <% services.forEach(service => { %>
        <div class="services__card" id="<%= service.id %>">
          <!-- Shown Card -->
          <div class="shown__card">
            <div class="card__header">
              <div class="card__header-inner">
                <div class="card__main-image">
                  <img
                    src="<%= service.shown.icon %>"
                    alt="<%= service.title %> Image"
                    loading="lazy"
                  />
                </div>
                <h4 class="card__title"><%= service.title %></h4>
              </div>
            </div>
            <div class="card__content">
              <div class="card__content-inner">
                <p class="card__description">
                  <%= service.shown.description %>
                </p>
                <a class="card__changer">
                  Learn More
                  <img
                    src="https://www.creativesquad.ca/images/icons/plus.svg"
                    alt="Addition Image"
                    loading="lazy"
                  />
                </a>
              </div>
            </div>
          </div>

          <!-- Hidden Card -->
          <div class="hidden__card">
            <div class="card__header">
              <div class="card__header-inner">
                <div class="card__main-image">
                  <img
                    src="<%= service.hidden.icon %>"
                    alt="<%= service.title %> Image"
                    loading="lazy"
                  />
                </div>
                <h4 class="card__title"><%= service.title %></h4>
              </div>
            </div>
            <div class="card__content">
              <div class="card__content-inner">
                <ul class="card__links">
                  <% service.hidden.links.forEach(link => { %>
                  <li class="card__link">
                    <a href="<%= link.url %>">
                      <%= link.text %>
                      <span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 448 512"
                          width="18.5"
                          height="18.5"
                        >
                          <path
                            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                          />
                        </svg>
                      </span>
                    </a>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
  <section class="full-width section-6">
    <div class="case-studies-container">
      <header>
        <h4 class="case-studies__subtitle">Case Studies</h4>
        <h3 class="case-studies__title">
          Preview from our <span>portfolio</span>
        </h3>
      </header>

      <div class="case-studies__swiper swiper">
        <div class="swiper-wrapper">
          <% caseStudies.forEach(study => { %>
          <div class="swiper-slide">
            <div class="swiper__image">
              <img
                src="<%= study.src %>"
                alt="Portfolio Image"
                loading="lazy"
              />
            </div>
            <div class="swiper__content">
              <h4 class="swiper__heading"><%= study.title %></h4>
              <p class="swiper__button">
                View <br />
                Case <br />
                Study
                <a href="/casestudy/<%= study.slug %>">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    width="20"
                    height="20"
                  >
                    <path
                      d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                    />
                  </svg>
                </a>
              </p>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <a class="case-studies__link" href="/portfolio"
        >Explore All
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 448 512"
        >
          <path
            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
          ></path></svg
      ></a>
    </div>
  </section>
  <section class="full-width section-7">
    <div class="development-process-container">
      <header>
        <h3>
          Full Cycle Development Process <br />
          <span>For Inspiring Online Experiences</span>
        </h3>
        <div class="process__btns-container">
          <% developmentProcess.forEach(card => { %>
          <button class="process__btn" data-card="<%= card.id %>">
            <%= card.button %>
          </button>
          <img
            src="https://www.creativesquad.ca/images/dev_process_chevronleft.svg"
            alt="Left Chevorn Image"
            loading="lazy"
          />
          <% }) %>
        </div>
      </header>
      <div class="process__cards-container">
        <% developmentProcess.forEach(card => { %>
        <div class="process__card" id="<%= card.id %>">
          <div class="card__main-image">
            <img
              src="<%= card.image %>"
              alt="<%= card.title %>"
              loading="lazy"
            />
          </div>
          <div class="card__content">
            <h4 class="card__header"><%= card.title %></h4>
            <p class="card__paragraph"><%= card.description %></p>
            <a href="<%= card.link %>" class="card__link">Read More</a>
          </div>
        </div>
        <% }) %>
        <div class="card__note">
          <p class="note__paragraph">
            We put transparency and honesty first. Strong communication and a
            result-driven approach have always made it possible.
          </p>
          <a href="/who-we-are" class="note__btn">About Us</a>
        </div>
      </div>
    </div>
  </section>
  <section class="full-width section-8">
    <div class="recent-articles-container">
      <header>
        <h5 class="recent-articles__subtitle">Recent Articles</h5>
        <h3 class="recent-articles__title">
          Every single update and <span>story from our journal</span>
        </h3>
        <div class="text-horizontal-line"></div>
      </header>
      <div class="recent-articles__swiper swiper">
        <div class="swiper-wrapper">
          <% blogs.forEach(blog => { %>
          <div class="swiper-slide">
            <div class="swiper__main-image">
              <img src="<%= blog.src %>" alt="<%= blog.alt %>" loading="lazy" />
            </div>
            <div class="swiper__content">
              <span class="swiper__date"><%= blog.date %></span>
              <h4 class="swiper__heading"><%= blog.title %></h4>
              <p class="swiper__description"><%= blog.description %></p>
              <a href="/blogs/<%= blog.slug %>" class="swiper__link btn-invert"
                >Read More</a
              >
            </div>
          </div>
          <% }) %>
        </div>
        <div class="nav-btns swiper-next">
          <img
            src="https://www.creativesquad.ca/images/icons/next.svg"
            alt="Navigation 'Next' Control"
            loading="lazy"
          />
        </div>
        <div class="nav-btns swiper-prev">
          <img
            src="https://www.creativesquad.ca/images/icons/next.svg"
            alt="Navigation 'Previous' Control"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="full-width section-9"><%- include('../misc/faqs') %></section>
  <%- include('../misc/trustpilot') %>
  <section class="section-10 trustpilot-section">
    <%- include('../misc/contactForm') %>
  </section>
</div>

<!-- Swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- JS -->
<script src="/javascript/landing-page/swiper.js"></script>
<script src="/javascript/landing-page/growing-business.js"></script>
<script src="/javascript/landing-page/development-process.js"></script>
<script src="/javascript/landing-page/services-card.js"></script>
