<%- layout(`boilerplate/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/portfolio/portfolio.css" />

<div class="portfolio-container">
  <header class="portfolio-header">
    <div class="container">
      <div class="col">
        <h1><span>Case</span> Studies</h1>
        <p>
          Welcome to our captivating world of innovation and imagination. It
          might be a project for you, but for us, it’s all about results. Dive
          into our portfolio and witness the extraordinary work that defines us.
        </p>
      </div>
      <div class="col">
        <img
          src="/assets/images/portfolio-header-image.jpg"
          alt="Portfolio Header Image"
        />
      </div>
    </div>
  </header>
  <main class="portfolio-main">
    <section class="case-studies-container">
      <div class="heading-col">
        <h2>
          We <span>Inspire & Innovate Brands</span> For The Digital Future
        </h2>
      </div>
      <div class="col">
        <div class="case-studies-swiper swiper">
          <div class="swiper-wrapper">
            <% data.caseStudies.forEach(caseStudy => { %>
            <a href="#" class="swiper-slide">
              <div class="col">
                <h3><%= caseStudy.title %></h3>
                <span class="industry"
                  >INDUSTRY:
                  <b class="b-600"><%= caseStudy.industry %></b></span
                >
                <p class="small-explanation"><%= caseStudy.industry %></p>
                <span class="services">SERVICES:</span>
                <div class="case-study-services">
                  <% caseStudy.caseStudyServices.forEach(caseStudyService => {
                  %>
                  <div class="case-study-service">
                    <img
                      src="<%= caseStudyService.src %>.png"
                      alt="<%= caseStudyService.alt %> Image"
                      class="secondaryImage"
                      loading="lazy"
                    />
                    <p><%- caseStudyService.text %></p>
                  </div>
                  <% }); %>
                </div>
              </div>
              <div class="col main-image">
                <img
                  src="<%= caseStudy.src %>.webp"
                  alt="Case Study Main Image"
                />
              </div>
            </a>
            <% }); %>
          </div>
          <div class="swiper-button swiper-button-prev"></div>
          <div class="swiper-button swiper-button-next"></div>
        </div>
      </div>
    </section>
  </main>
</div>
