<%- layout(`boilerplate/boilerplate`) %>

<!-- CSS -->
<link rel="stylesheet" href="/stylesheet/seo-analysis/seo-analysis.css" />

<div class="seo-analysis-container">
  <header>
    <div class="column">
      <h1 class="seo-analysis__title">
        Comprehensive SEO Analysis for <br />
        <span>startups, SMBs, and enterprises</span>
      </h1>
      <h4>What's Your Website's Optimization Score?</h4>

      <div id="spinner-overlay" class="overlay" style="z-index: 9999">
        <div
          class="spinner-border spinner analysis-spinner text-white spinner-border-md"
          role="status"
        ></div>
      </div>

      <form class="seo-analysis__form">
        <input
          type="text"
          class="seo-analysis__input"
          required
          placeholder="Enter Name"
        />
        <input
          type="email"
          class="seo-analysis__input"
          required
          placeholder="Enter Email Address"
        />
        <input
          type="text"
          id="customNumberInput"
          class="seo-analysis__input"
          placeholder="Enter Phone Number"
          required
        />
        <div class="url__checking-row">
          <input
            type="url"
            class="seo-analysis__input"
            placeholder="Enter Website URL"
            id="url-input"
            required
          />

          <button class="submit__form" id="url-btn" type="submit">
            Analyze
          </button>
        </div>
      </form>
    </div>
  </header>

  <div class="brand-growing-container">
    <div class="brand-growing__header">
      <h3 class="brand-growing__title">
        In-depth SEO <br />
        <span>Website Audit</span>
      </h3>
      <div class="brand-growing__btns">
        <% brandGrowing.forEach(card => { %>
        <button class="brand-growing__btn" data-card="<%= card.id %>">
          <%- card.button %>
        </button>
        <% }) %>
      </div>
    </div>

    <div class="brand-growing__cards">
      <% brandGrowing.forEach(card => { %>
      <div class="brand-growing__card" id="<%= card.id %>">
        <div class="card__main-image">
          <img src="<%= card.image %>" alt="<%= card.alt %>" loading="lazy" />
        </div>
        <div class="card__content">
          <h3 class="brand-growing__title"><%- card.title %></h3>
          <p class="card__description"><%- card.description %></p>
          <a class="card__button btn-invert" href="/contact">Let's Connect</a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<script src="/javascript/seo-analysis/contact.js"></script>
<script src="/javascript/landing-page/growing-business.js"></script>
